.option{
    background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
  box-shadow: 10px 10px 10px #0000;
  /* background-image: url('https://images.pexels.com/photos/7932264/pexels-photo-7932264.jpeg?auto=compress&cs=tinysrgb&w=2990&h=850&dpr=1');
   background-repeat: no-repeat;  */
   background: linear-gradient(blue, 10%, pink)
 

 
  
}